EdwardsApp1/EdwardsApp1/Service References/DocObj25ServiceReference/DocumentObj1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://sdldemo2013/InfoShareWS/Wcf/API25/DocumentObj.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://sdldemo2013/InfoShareWS/Wcf/API25/DocumentObj.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://sdldemo2013/InfoShareWS/Wcf/API25/DocumentObj.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://sdldemo2013/InfoShareWS/Wcf/API25/DocumentObj.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://sdldemo2013/InfoShareWS/Wcf/API25/DocumentObj.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataObjectInfoByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataObjectInfoByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjects" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q7="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q7:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q8:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByRevisionIds" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByRevisionIdsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q9:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRevisionInfoByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRevisionInfoByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q10:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocations" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q11:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q12="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q12:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q13="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q13:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLanguageMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLanguageMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q14="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q14:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocation" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q15="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q15:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingLogicalId" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingLogicalIdResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q16="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q16:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParentsByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentsByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParentsByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentsByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParentsByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q17="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q17:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingCondition" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingConditionResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q18="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q18:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingVariable" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingVariableResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q19="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q19:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParents" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetParents_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q20="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q20:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q21="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q21:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatuses" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q22="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q22:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q23="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q23:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ReuseStartedOn_InputMessage">
    <wsdl:part name="parameters" element="tns:ReuseStartedOn" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ReuseStartedOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReuseStartedOnResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ReuseStartedOn_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q24="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q24:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="DocumentObj">
    <wsdl:operation name="GetMetadataByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRef" message="tns:DocumentObj_GetMetadataByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRefResponse" message="tns:DocumentObj_GetMetadataByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetMetadataByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadata" message="tns:DocumentObj_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataResponse" message="tns:DocumentObj_GetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefs" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefsResponse" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveVersionMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadata" message="tns:DocumentObj_RetrieveVersionMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadataResponse" message="tns:DocumentObj_RetrieveVersionMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveVersionMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRef" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRefResponse" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataObjectInfoByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefs" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefsResponse" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjects">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjects" message="tns:DocumentObj_RetrieveObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsResponse" message="tns:DocumentObj_RetrieveObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjects_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectsByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefs" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefsResponse" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectsByRevisionIds">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIds" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIdsResponse" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIdsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRevisionInfoByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefs" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefsResponse" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocations">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocations" message="tns:DocumentObj_FolderLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationsResponse" message="tns:DocumentObj_FolderLocations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_FolderLocations_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/Find" message="tns:DocumentObj_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FindResponse" message="tns:DocumentObj_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FindInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_Find_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadata" message="tns:DocumentObj_RetrieveMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataResponse" message="tns:DocumentObj_RetrieveMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLanguageMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadata" message="tns:DocumentObj_RetrieveLanguageMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadataResponse" message="tns:DocumentObj_RetrieveLanguageMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveLanguageMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocation">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocation" message="tns:DocumentObj_FolderLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationResponse" message="tns:DocumentObj_FolderLocation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_FolderLocation_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingLogicalId">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalId" message="tns:DocumentObj_ContainingLogicalId_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalIdResponse" message="tns:DocumentObj_ContainingLogicalId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalIdInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingLogicalId_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentsByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParentsByIshLngRef" message="tns:DocumentObj_GetParentsByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParentsByIshLngRefResponse" message="tns:DocumentObj_GetParentsByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParentsByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetParentsByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingCondition">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingCondition" message="tns:DocumentObj_ContainingCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingConditionResponse" message="tns:DocumentObj_ContainingCondition_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingConditionInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingCondition_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingVariable">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariable" message="tns:DocumentObj_ContainingVariable_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariableResponse" message="tns:DocumentObj_ContainingVariable_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariableInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingVariable_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParents" message="tns:DocumentObj_GetParents_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParentsResponse" message="tns:DocumentObj_GetParents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetParentsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetParents_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildren" message="tns:DocumentObj_GetChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildrenResponse" message="tns:DocumentObj_GetChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildrenInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetChildren_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatuses">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatuses" message="tns:DocumentObj_GetPossibleTargetStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesResponse" message="tns:DocumentObj_GetPossibleTargetStatuses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetPossibleTargetStatuses_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatusesByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRef" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRefResponse" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReuseStartedOn">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ReuseStartedOn" message="tns:DocumentObj_ReuseStartedOn_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ReuseStartedOnResponse" message="tns:DocumentObj_ReuseStartedOn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ReuseStartedOnInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ReuseStartedOn_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>